<%- include('partials/header'); -%>

  <header>
    <div class="calculator">
      <img src="/image/university.png" alt="">
    </div>
    <div class="headings">
      <h3>University Admission Calculator</h3>

      <a href="/api/v1/calculator" class="btn">Open calculator</a>
    </div>
  </header>

  <%- include('partials/footer'); -%>